*
{
    margin: 0;
}

.hidden
{
    display: none;
}
img
{
    width: 200px;
    height: 200px;
}
/*algemeen*/
main, .questionDiv, #startQuiz, .test
{
    display: flex;
}
body
{
    background-color: white;
}
body, button
{
    font-family: "Candara Regular";
}
/*text*/
h1, .choice
{
    color: red;
}
h1
{
    font-weight: bold;
    margin-top: 30px;
    font-size: 48px;
}
/*layout*/

main
{
    flex-direction: column;
    align-items: center;
}
header, footer
{
    background-color: red;
    width: 100vw;
    height: 27px;
}
footer
{
    position: fixed;
    bottom: 0;
}
.questionDiv
{
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
}
.question
{
    padding: 17px;
    margin:  0 5px 5px 5px;
    width: 66vw;
    height: 264px;
    background-color: red;
    border: 5px solid white;
    box-shadow: 0 0 0 5px red;
    color: white;
}
.choice
{
    width: 80vw;
}
.test
{
    justify-content: space-between;
    flex-direction: row;
    width: 80vw;
    align-items: center;
    min-height: 40px;
    margin-bottom: 20px;
}
input[type="radio"] {
    display: none;
}
input[type="radio"]{
    position: relative;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    margin-left: 10px;
}
.labelChoice
{
    width: 76%;
    color: red;
}
input[type="radio"]:before {
    content: '';
    position: absolute;
    background-color: white;
    border: 3px solid red;
    padding: 10px;
    top: -5px;

}

input[type="radio"]:checked:before {
    background-color: red;
    border-color: red;
}
button, .homeLink
{
    background-color: red;
    border: none;
    padding: 10px;
    color: white;
    width: 40vw;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
}
#startQuiz
{
    flex-direction: column;
    align-items: flex-end;
    width: 80vw;
}
.startQuizText
{
    padding: 17px;
    margin: 27px 5px 27px 5px;
    width: 66vw;
    height: 271px;
    background-color: red;
    border: 5px solid white;
    box-shadow: 0 0 0 5px red;
    color: white;
    font-size: 24px;
}